<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR9X7ma3Zh6r6yXKiYP2lcjl4JXwlJEJE</string>
	<key>GCM_SENDER_ID</key>
	<string>1025130789348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telalarm.wakeupcall</string>
	<key>PROJECT_ID</key>
	<string>alarmapp-38064</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmapp-38064.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025130789348:ios:ef68b5e152c9bfa39deff1</string>
</dict>
</plist>